* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

input, button {
  font-family: inherit;
  font-size: inherit;
  border: none;
}

input:focus, button:focus {
  outline: none;
}

ul {
  list-style-type: none;
}
 
a {
  text-decoration: none;
  color: #323232;
}

