$accent:  #F78434;
$dark-accent: #d27130;
$opacity-accent: rgba(247, 132, 52, 0.55);
$text-color: #323232;
$white-btn-hover: #000;
$bg-gray-color: #F5F6FA;
$green: #58BEBF;
$green-opacity: rgba(88, 190, 191, 0.2);