@use "../../base/vars" as *;

.btn {
  background-color: $accent;
  color: #fff;
  cursor: pointer;
  border-radius: 29px;
  padding: 17px 35px;
  display: inline-block;
  transition: 0.2s linear background-color;
  font-weight: 700;
  &:hover {
    background-color: $dark-accent;
  }
  
  &.white {
    background-color: #fff;
    color: $text-color;
  }

  &.white:hover {
    background-color: #d3d3d3;
  }
}

